services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data
    environment:
      TERMCHAT_ADDR: ":8080"
      TERMCHAT_PATH: "/join"
      TERMCHAT_DB_PATH: "/data/termchat.db"

  client:
    build:
      context: .
      dockerfile: Dockerfile
      target: client
    stdin_open: true
    tty: true
    environment:
      TERMCHAT_SERVER: "ws://server:8080/join"
    depends_on:
      - server
